<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student-list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="std-list-container">
        <div class="welcome">
            <!--<p>Welcome, <span class="username" th:text="${name}">username </span></p>-->
            <span>Welcome, <span class="username" th:text="${session.user.username}">username </span></span></br>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <h1>Student-list</h1>
        <form th:action="@{/students}" method="get">
            <input placeholder="Search by name" type="text" name="keyword">
            <button type="submit">Search</button>
        </form>
<!--        Thông báo lỗi khi không đúng role khi cố tình gõ link trực tiếp-->
        <span class="errRole" th:if="${errRole!=null}" th:text="${errRole}"></span>
        <a th:href="@{/student/add}" th:if="${session.user.role == 1}">Add new student</a>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Year of birth</th>
                <th>GPA</th>
                <th>Major</th>
                <th th:if="${session.user.role==1 or session.user.role==2}">Action</th>
                <th>Created Date</th>
                <th>Last Modified Date</th>
            </tr>
            </thead>
            <tbody>
            <!--${studentList}: chính là attributeName trong model-->
            <tr th:each="s : ${studentList}">
                <td th:text = "${s.id}"></td>
                <td th:text = "${s.name}"></td>
                <td th:text = "${s.yob}"></td>
                <td th:text = "${s.gpa}"></td>
                <td th:text = "${s.major.name}"></td>
                <td th:if="${session.user.role == 1 or session.user.role == 2}">
                    <a th:href="@{'/student/edit/' + ${s.id}}" th:if="${session.user.role==1 or session.user.role==2}">Edit</a>
                    <a th:href="@{'/student/delete/' + ${s.id}}"
                       onclick="return confirm('Are you sure you want to delete this student?')"
                    th:if="${session.user.role==1}">| Delete</a>
                </td>
                <td th:text="${#temporals.format(s.createdDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(s.modifiedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>