<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link rel="stylesheet" th:href="@{/css/form-style.css}">
</head>
<body>
    <div class="form-container">
        <h1 th:if="${formMode == 'edit'}">Edit student info</h1>
        <h1 th:if="${formMode =='add'}">Add new student info</h1>
        <form action="/student/form" th:object="${student}" method="post">
            <div class="form-group">
                <label for="id">ID</label>
                <!--<input type="text" id="id" name="id" value="${student.id}">-->
                <!--th:field tương đương với name + value. Khi này thymeleaf sẽ
                tự động đặt name-->
                <input type="text" id="id" th:field="*{id}"
                       th:readonly="${formMode=='edit'}"
                       th:style="${formMode=='edit'?'color : lightgrey' : 'color : black'}">
                <span th:errors="*{id}" style="color: red"></span>
                <span th:if="${duplicateId != null}" th:text="${duplicateId}" style="color: red">*</span>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}">
                <span th:errors="*{name}" style="color: red"></span>
            </div>
            <div class="form-group">
                <label for="yob">Year of Birth</label>
                <input type="text" id="yob" th:field="*{yob}">
                <span th:errors="*{yob}" style="color: red"></span>
            </div>
            <div class="form-group">
                <label for="gpa">GPA</label>
                <input type="text" id="gpa" th:field="*{gpa}">
                <span th:errors="*{gpa}" style="color: red"></span>
            </div>
            <div class="form-group">
                <label for="major">Major</label>

                <!--Xem lại nhân sinh!!!!!-->
                <select id="major" th:field="*{major.id}">
                    <option th:each="m : ${majorList}"
                            th:value="${m.id}"
                            th:text="${m.name}"
                    >Kỹ thuật phần mềm</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Save</button>
            </div>
            <!--Lưu lại trạng thái edit hay add để khi bắt validate gọi lại form thì
            có formMode nếu ko sẽ bị lỗi NPE-->
            <input type="hidden" name="formMode" th:value="${formMode}" >
        </form>
    </div>

</body>
</html>